html {
  --color-moderate-violet: hsl(263deg 55% 52%);
  --color-very-dark-grayish-blue: hsl(217deg 19% 35%);
  --color-very-dark-blackish-blue: hsl(219deg 29% 14%);
  --color-white: hsl(0deg 0% 100%);
  --color-light-gray: hsl(0deg 0% 81%);
  --color-light-grayish-blue: hsl(210deg 46% 95%);
}
